.description {
    background-color: #fff;
    min-height: 79px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
}

@media screen and (max-width: 1279px) {
    .description {
        width: 282px;
    }
}