.popup__form-input-error {
    display: block;
    color: #FF0000;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    max-width: 358px;
    height: 30px;
}

@media screen and (max-width: 860px) {
    .popup__form-input-error {
        max-width: 238px;
    }
}