.info__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    margin: 0 18px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
    min-width: 93px;
}

@media screen and (max-width: 1070px) {
    .info__title {
        font-size: 27px;
        line-height: 1.22;
        max-width: 189px;
        min-width: 143px;
    }
}