.info {
    margin: auto 18px auto 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: 336px;
    max-height: 73px;
    align-content: center;
}

@media screen and (max-width: 1070px) {
    .info {
        justify-content: center;
        margin-bottom: 36px;
    }
}
