.description__delete {
    background-image: url(../../../images/delete.svg);
    width: 18px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    border: none;
    position: absolute;
    background-color: transparent;
    right: 20px;
    top: 20px;
}

.description__delete:hover {
    opacity: 0.6;
}