.popup__form-submit-btn {
    background-color: #000;
    width: 358px;
    height: 50px;
    color: #fff;
    margin-top: 31px;
}

.popup__form-submit-btn:hover {
    opacity: 0.8;
}

.popup__form_place-delete > .popup__form-submit-btn {
    margin-top: 0;
}

@media screen and (max-width: 860px) {
    .popup__form-submit-btn {
        width: 238px;
        height: 46px;
    }
}