@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/body/body.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__avatar-img/profile__avatar-img.css);
@import url(./blocks/profile/__add-place-button/profile__add-place-button.css);
@import url(./blocks/info/info.css);
@import url(./blocks/info/__title/info__title.css);
@import url(./blocks/info/__subtitle/info__subtitle.css);
@import url(./blocks/info/__redact-button/info__redact-button.css);
@import url(./blocks/places/places.css);
@import url(./blocks/place/place.css);
@import url(./blocks/place/__image/place__image.css);
@import url(./blocks/description/description.css);
@import url(./blocks/description/__like-container/description__like-container.css);
@import url(./blocks/description/__like/description__like.css);
@import url(./blocks/description/__like-count/description__like-count.css);
@import url(./blocks/description/__delete/description__delete.css);
@import url(./blocks/description/__delete/_hidden/description__delete_hidden.css);
@import url(./blocks/description/__like/_active/description__like_active.css);
@import url(./blocks/description/__title/description__title.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__content/_place-delete/popup__content_place-delete.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form/_place-delete/popup__form_place-delete.css);
@import url(./blocks/popup/__form/_avatar-change/popup__form_avatar-change.css);
@import url(./blocks/popup/__form-input/popup__form-input.css);
@import url(./blocks/popup/__form-input/_error/popup__form-input_error.css);
@import url(./blocks/popup/__form-input-error/popup__form-input-error.css);
@import url(./blocks/popup/__form-input-error/_visible/popup__form-input-error_visible.css);
@import url(./blocks/popup/__form-submit-btn/popup__form-submit-btn.css);
@import url(./blocks/popup/__form-submit-btn/_disabled/popup__form-submit-btn_disabled.css);
@import url(./blocks/popup/__picture-container/popup__picture-container.css);
@import url(./blocks/popup/__picture-content/popup__picture-content.css);
@import url(./blocks/popup/__picture-title/popup__picture-title.css);
@import url(./blocks/popup/__big-picture/popup__big-picture.css);
@import url(./blocks/popup/_opened/popup_opened.css);